html {
    margin: 0;
}

body {
    margin: 0;
	height: 100vh;
	width: 100vw;
	/* ukrywanie paska na dole strony gdy elementy są za długie*/
	overflow-x: hidden; 
}

.sky { 
	background-color: darkblue;
	height: 33vh;
	width:100%;
}
.grass {
	background-color: darkgreen;
	height: 33vh;
	width: 100%;
}

/* zmienia wysokość sky podczas gdy szerokość ekranu jest nie wieksza niż 600px */
@media (max-width: 600px) {
	.sky {
		height: 13vh;
	}
}


.road { 
	border-top: 10px solid lightgray;
	border-bottom: 10px solid lightgray;
	height: calc(33vh - 20px);
	width: 100%;
	background-color: gray;
	position: relative;
}

.road img{
	position: absolute;
	top: 0;
	height: 70px;
	width: 70px;
	/* odnosi sie do keyframe drive */
	animation-name: drive;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.65, 0.84, 0.44, 1);
	animation-direction: alternate-reverse;
	
}

.line { 
	position: absolute;
	border-bottom: 10px dashed #FFF;
	top: 50%;
	width: 100%;
}


@keyframes drive {
	/* może transformować nasz element */
	/* from {
	   
		transform: translateX(0%);
	}
	  
	to {
	  transform: translateX(100vw);
	}  */
	/* lub */

	0% {
		top: 20px;
		
		transform: translateX(0%);
	}
	
	50% {
		top: 20px;
		transform: translateX(20vw);
	}

	100% {
		top: 50px;  
		transform: translateX(100vw);
	} 



  }

